extends layout

block content
    h1= title
    form(method='POST', action='/books/new')
        p 
            label(for='title') Title 
            input#title(name='title', type='text')
        p 
            label(for='author') Author
            input#author(name='author', type='text')
        p 
            label(for='genre') Genre 
            input#genre(name='genre', type='text')
        p 
            label(for='year') Year
            input#year(name='year', type='text')
        p 
            input(type='submit', value='Create a New Book')
        p 
            a.button(href='/books')